
.hero {
    background-image: url("../../../../public/assets/home/desktop/image-hero.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .hero {
        background-image: url("../../../../public/assets/home/tablet/image-header.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (max-width: 639px) {
    .hero {
        background-image: url("../../../../public/assets/home/mobile/image-header.jpg");
        background-position: center 75%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (min-width: 1930px) {
    .hero {
    background-image: url("../../../../public/assets/home/desktop/image-hero.jpg");
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    }
}


.heroNew{
    color: #FFF;
    font-family: manrope-reg;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
}



.circles{
    background-image: url('../../../../public/assets/home/desktop/pattern-circles.svg');
    background-size: cover;
    background-position: center -120px;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1023px) and (min-width: 767px) {
    .circles {
        background-size: auto;
        background-position: center -310px;
    }
}

@media only screen and (min-width: 1024px) { 
    .circles {
        background-size: cover;
        background-position: -250px -110px;
    }
}

.zx7Container{
    background-image: url('../../../../public/assets/home/mobile/image-speaker-zx7.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

