
.hero {
    background-image: url("../../../../public/assets/home/desktop/image-hero.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .hero {
        background-image: url("../../../../public/assets/home/tablet/image-header.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

@media only screen and (max-width: 639px) {
    .hero {
        background-image: url("../../../../public/assets/home/mobile/image-header.jpg");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}


.heroNew{
    color: #FFF;
    font-family: manrope-reg;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
}

.circles{
    background-image: url('../../../../public/assets/home/desktop/pattern-circles.svg');
    background-size: cover;
    background-position: 50% -150px;
    background-repeat: no-repeat;


}

/* @media only screen and (min-width: 600px) {
    .circles {
        width: 100%;
    }
}
 */

/*                 background="url(/images/home/desktop/pattern-circles.svg) no-repeat"
                backgroundSize="cover"
        
                backgroundPosition= {
                        {
                        base: '50% -8.125rem',
                            md: '50% -16.125rem',
                            lg: '-15rem -9.125rem',
                    }
                } */