@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: manrope-reg;
  src: url('../../public/font/Manrope-Regular.ttf');
}

@font-face {
  font-family: manrope-semibold;
  src: url('../../public/font/Manrope-SemiBold.ttf');
}

body{
  font-family: manrope-reg;
}

.manrope-reg{
  font-family: manrope-reg;
}

.manrope-semibold {
  font-family: manrope-semibold;
}



.brand-black{
  background-color: #141414;
}

.brand-orange-background{
  background-color: #D87D4A;
}

.manrope-title{
  font-family: manrope-semibold;
  font-style: normal;
  letter-spacing: 2px;
}