@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: manrope-reg;
  src: url('../../public/font/Manrope-Regular.ttf');
}

@font-face {
  font-family: manrope-semibold;
  src: url('../../public/font/Manrope-SemiBold.ttf');
}

body{
  font-family: manrope-reg;
}

.manrope-reg{
  font-family: manrope-reg;
}

.manrope-semibold {
  font-family: manrope-semibold;
}



.brand-black{
  background-color: #141414;
}

.brand-orange-background{
  background-color: #D87D4A;
}

.manrope-title{
  font-family: manrope-semibold;
  font-style: normal;
  letter-spacing: 2px;
}

.page-headers{
  color: #FFF;
  text-align: center;
  font-family: manrope-reg;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.product-title{

  font-family: manrope-semibold;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (max-width: 640px) {
  .product-title {
      font-size: 1.75rem;
  }
}

.addToBasket:hover span{
  color: #D87D4A;
  opacity: 1;
}

.close-notification{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-delay: 0.1s;}

.open-notification{
  opacity: 1;
}
